# BFF
BFF_PORT=8000

# Service 1 - Multilingual + Aspect
# SERVICE1_URL=http://localhost:8001
SERVICE1_URL=https://multilingual-intelligence-platform.onrender.com

# Service 2 - Sentiment + Stance
# SERVICE2_URL=http://localhost:8002
SERVICE2_URL=https://multilingual-intelligence-platform-chsm.onrender.com

# Service 3 - Adaptation
# SERVICE3_URL=http://localhost:8003
SERVICE3_URL=https://multilingual-intelligence-platform-6y6p.onrender.com