# BFF
BFF_PORT=8000

# Service 1 - Multilingual + Aspect
SERVICE1_URL=http://localhost:8001

# Service 2 - Sentiment + Stance
SERVICE2_URL=http://localhost:8002

# Service 3 - Adaptation
SERVICE3_URL=http://localhost:8003